## Exercises Part I

Use pandas to create a Series named fruits from the following list:

["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

Use Series attributes and methods to explore your fruits Series.

In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

fruits_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [6]:
type(fruits_series)
fruits_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

### 1. Determine the number of elements in fruits.

In [7]:
fruits_series.size

17

### 2. Output only the index from fruits.

In [8]:
fruits_series.index

RangeIndex(start=0, stop=17, step=1)

### 3. Output only the values from fruits.

In [9]:
fruits_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

### 4. Confirm the data type of the values in fruits.

In [10]:
fruits_series.dtype

dtype('O')

### 5. a.) Output only the first five values from fruits.

In [11]:
fruits_series.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

### 5. b.) Output the last three values.

In [12]:
fruits_series.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

### 5. c.) Output two random values from fruits.

In [16]:
fruits_series.sample(2)

11    kiwi
0     kiwi
dtype: object

### 6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [17]:
fruits_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

### 7. Run the code necessary to produce only the unique string values from fruits.

In [18]:
fruits_series.value_counts()

kiwi                4
mango               2
honeycrisp apple    1
honeydew            1
blackberry          1
gala apple          1
watermelon          1
gooseberry          1
strawberry          1
tomato              1
papaya              1
pineapple           1
blueberry           1
dtype: int64

### 8. Determine how many times each unique string value occurs in fruits.

In [30]:
fruits_series.value_counts()

kiwi                4
mango               2
honeycrisp apple    1
honeydew            1
blackberry          1
gala apple          1
watermelon          1
gooseberry          1
strawberry          1
tomato              1
papaya              1
pineapple           1
blueberry           1
dtype: int64

### 9. Determine the string value that occurs most frequently in fruits.

In [42]:
fruits_series.value_counts()
#fruits_series.nlargest(n=5, keep='first')
#fruits_series.sort_values(ascending=False)

kiwi                4
mango               2
honeycrisp apple    1
honeydew            1
blackberry          1
gala apple          1
watermelon          1
gooseberry          1
strawberry          1
tomato              1
papaya              1
pineapple           1
blueberry           1
dtype: int64

### 10. Determine the string value that occurs least frequently in fruits.

In [43]:
fruits_series.value_counts()

#fruits_series.nsmallest(n=5, keep='first')

kiwi                4
mango               2
honeycrisp apple    1
honeydew            1
blackberry          1
gala apple          1
watermelon          1
gooseberry          1
strawberry          1
tomato              1
papaya              1
pineapple           1
blueberry           1
dtype: int64